<div class="detail-header" *ngIf="user() as user">
    <button class="back-btn" (click)="goBack()">
        ←
    </button>

    <h2>
        Details: {{ user.first_name }} {{ user.last_name }}
    </h2>
</div>
<div class="detail-container" *ngIf="user() as user">

    <div class="detail-item"><strong>First Name:</strong> {{ user.first_name }}</div>
    <div class="detail-item"><strong>Last Name:</strong> {{ user.last_name }}</div>
    <div class="detail-item"><strong>Company_name:</strong> {{ user.company_name }}</div>
    <div class="detail-item"><strong>City:</strong> {{ user.city }}</div>
    <div class="detail-item"><strong>State:</strong> {{ user.state }}</div>
    <div class="detail-item"><strong>Zip:</strong> {{ user.zip }}</div>
    <div class="detail-item"><strong>Email:</strong> {{ user.email }}</div>
    <div class="detail-item">
        <strong>Website:</strong>
        <a [href]="user.web" target="_blank">{{ user.web }}</a>
    </div>
    <div class="detail-item"><strong>Age:</strong> {{ user.age }}</div>

</div>